Repository Namoneo/bestmetall: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

husky fix
  .lintstagedrc
Due: none

fix
  .lintstagedrc
  src/styles.css
Due: prettier --write

chore: replace ng lint with eslint for TypeScript files in lint-staged.
  .husky/pre-commit
  .husky/pre-push
Due: none

feat: Implement deferred loading for gallery, CTA, stats, and features sections, and eager load the home route.
  src/app/app.routes.ts
  src/app/pages/home/home.html
  src/app/pages/produce/produce.html
Due: eslint --fix, prettier --write

Migrate from Vercel to Firebase Hosting
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .gitignore
  firebase.json
  vercel.json
Due: prettier --write

Update firebase.json to deploy built Angular app from dist folder
  firebase.json
Due: prettier --write

Update README with Firebase deployment info
  README.md
Due: prettier --write

Add new services from Nozimjon: stainless materials, restaurant equipment, laser cutting
  src/app/services/translations.uz.ts
Due: eslint --fix, prettier --write

Update: Add all cities (Toshkent, Namangan, Andijon, Farg'ona) and new services
  src/app/services/translations.uz.ts
Due: eslint --fix, prettier --write

Update equipment: Change Varaqa→List, Quvur→Truba, remove Tokarlik-frezalik, add laser welding
  src/app/services/translations.uz.ts
Due: eslint --fix, prettier --write

Update stairs text: replace 'Qulay muhit' with modern aesthetic description
  src/app/services/translations.uz.ts
Due: eslint --fix, prettier --write

Update mailboxes: Add Sam Moy, Elektroshit, changing room lockers
  src/app/services/translations.uz.ts
Due: eslint --fix, prettier --write

Update social links: Instagram @perilauz, Telegram @perilauzz, Website bestmetall.uz
  src/app/components/layout/footer/footer.html
Due: prettier --write

Initial premium redesign: Forged Precision theme with bilingual support
  index.html
  scripts/animations.js
  scripts/app.js
  scripts/cursor.js
  scripts/translations.js
  styles/animations.css
  styles/base.css
  styles/components.css
  styles/layout.css
  styles/variables.css
Due: prettier --write

Fix all CSS/HTML mismatches and complete the redesign
  index.html
  scripts/app.js
  scripts/translations.js
  styles/components.css
  styles/layout.css
Due: prettier --write

Fix projects grid layout - proper bento-style stacking
  styles/components.css
  styles/layout.css
Due: prettier --write

Complete premium redesign: Forged Precision theme with bilingual RU/UZ support
  index.html
  scripts/animations.js
  scripts/app.js
  scripts/translations.js
  styles/animations.css
  styles/base.css
  styles/components.css
  styles/layout.css
  styles/variables.css
Due: prettier --write

Remove Russian version — site is now Uzbek-only
  index.html
  scripts/app.js
  scripts/translations.js
Due: prettier --write

Premium redesign: conversion, proof, polish + calm ember hero
  .gitignore
  fonts/bebas-neue/bebas-neue-latin.woff2
  fonts/inter/inter-latin.woff2
  fonts/jetbrains-mono/jetbrains-mono-latin.woff2
  images/projects/README.md
  index.html
  scripts/app.js
  scripts/translations.js
  server/README.md
  server/telegram-worker.js
  styles/base.css
  styles/components.css
Due: prettier --write

Replace cursor with precision crosshair (CNC/laser aesthetic)
  index.html
  scripts/cursor.js
  styles/components.css
Due: prettier --write

Replace cursor with CMM probe / stylus design
  scripts/cursor.js
  styles/components.css
Due: prettier --write

Remove leftover map-pin reduced-motion rule
  styles/animations.css
Due: prettier --write

Remove dead .contact__map CSS block
  styles/components.css
Due: prettier --write

Fix .contact__hours li strong rule truncated by bad sed
  styles/components.css
Due: prettier --write

Add Flask + SQLite CMS — every section editable
  .env.example
  .gitignore
  CMS-README.md
  admin/dashboard.html
  admin/editor.html
  admin/login.html
  app.py
  backend/__init__.py
  backend/auth.py
  backend/contact.py
  backend/content.py
  backend/database.py
  backend/upload.py
  index.html
  passenger_wsgi.py
  requirements.txt
  scripts/app.js
  scripts/cms-loader.js
Due: prettier --write

Fix CMS-rebuilt cards rendering invisible (frozen reveal styles)
  scripts/cms-loader.js
Due: none

Fix card rendering issue in CMS by clearing leftover styles from cloned nodes. This ensures rebuilt cards display correctly after animations are applied.
  fonts/bebas-neue-cyrillic.woff2
  fonts/bebas-neue-full.ttf
  fonts/bebas-neue-real.woff2
  fonts/bebas-neue.woff2
  scripts/download-font.py
  scripts/inspect.js
  scripts/replace-ru.py
  scripts/screenshot.js
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{html,css,json,md})
